#NavBar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    border-bottom: .5px solid rgb(226, 226, 226);
    z-index: 1000;
}

#Logo {
    text-decoration: none;
    letter-spacing: 3px;
}

#Menu {
    margin: 0;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.subrayadoNav {
    position: relative;
    text-decoration: none;
}

.subrayadoNav:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 0;
    height: 1px;
    left: 0;
    bottom: -5px;
    transition: all 0.3s;
}

.subrayadoNav:hover:after {
    width: 100%;
}

i {
    font-size: 20px;
}